
@font-face {
  font-family: 'EuphemiaCAS';
  src: url('EuphemiaCAS.eot?#iefix') format('embedded-opentype'),  url('EuphemiaCAS.woff') format('woff'), url('EuphemiaCAS.ttf')  format('truetype'), url('EuphemiaCAS.svg#EuphemiaCAS') format('svg');
  font-weight: normal;
  font-style: normal;
}
