
@font-face {
  font-family: 'AgencyFB-Bold';
  src: url('AgencyFB-Bold.eot?#iefix') format('embedded-opentype'),  url('AgencyFB-Bold.woff') format('woff'), url('AgencyFB-Bold.ttf')  format('truetype'), url('AgencyFB-Bold.svg#AgencyFB-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
